.container {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container > fieldset {
    width: 33.3333vw;

    padding: 20px 50px;
}

label {
    display: block;

    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    column-gap: 20px;

    margin-top: 30px;
}